*.vsidx
*.opendb
*.txt
.vs/CSOPESY/FileContentIndex/863efc50-bca2-4ed9-a898-b93e6e46fb0d.vsidx
.vs/CSOPESY/FileContentIndex/992da3bd-d189-4908-a960-db52f432ac43.vsidx
.vs/CSOPESY/v17/.wsuo
.vs/CSOPESY/v17/Browse.VC.db
.vs/CSOPESY/v17/DocumentLayout.backup.json
.vs/CSOPESY/v17/DocumentLayout.json
.vs/slnx.sqlite
MachineProject/.vs/MachineProject/v17/Browse.VC.db
MachineProject/.vs/MachineProject/v17/Browse.VC.db-shm
MachineProject/.vs/MachineProject/v17/Browse.VC.db-wal
MachineProject/.vs/MachineProject/v17/ipch/AutoPCH/2730ceac2abe83fe/COMMANDHANDLER.ipch
.vs/CSOPESY/FileContentIndex/863efc50-bca2-4ed9-a898-b93e6e46fb0d.vsidx
.vs/CSOPESY/FileContentIndex/992da3bd-d189-4908-a960-db52f432ac43.vsidx
.vs/CSOPESY/v17/.wsuo
.vs/CSOPESY/v17/Browse.VC.db
.vs/CSOPESY/v17/DocumentLayout.backup.json
.vs/CSOPESY/v17/DocumentLayout.json
.vs/slnx.sqlite
MachineProject/.vs/MachineProject/copilot-chat/d229e615/sessions/d420fcd9-a3d9-4751-8f01-2c1da977ac1f
MachineProject/.vs/MachineProject/CopilotIndices/17.14.794.21998/CodeChunks.db
MachineProject/.vs/MachineProject/CopilotIndices/17.14.794.21998/CodeChunks.db-shm
MachineProject/.vs/MachineProject/CopilotIndices/17.14.794.21998/CodeChunks.db-wal
MachineProject/.vs/MachineProject/CopilotIndices/17.14.794.21998/SemanticSymbols.db
MachineProject/.vs/MachineProject/CopilotIndices/17.14.794.21998/SemanticSymbols.db-shm
MachineProject/.vs/MachineProject/CopilotIndices/17.14.794.21998/SemanticSymbols.db-wal
MachineProject/.vs/MachineProject/v17/.suo
MachineProject/.vs/MachineProject/v17/Browse.VC.db
MachineProject/.vs/MachineProject/v17/Browse.VC.db-shm
MachineProject/.vs/MachineProject/v17/DocumentLayout.backup.json
MachineProject/.vs/MachineProject/v17/DocumentLayout.json
MachineProject/.vs/MachineProject/v17/ipch/AutoPCH/15c26fd8d3d6a24c/CONSOLE.ipch
MachineProject/.vs/MachineProject/v17/ipch/AutoPCH/19ec167b7421dd1c/MAIN.ipch
MachineProject/.vs/MachineProject/v17/ipch/AutoPCH/5a5d9c77389f80c7/MEMORYMANAGER.ipch
MachineProject/MachineProject.vcxproj
MachineProject/MachineProject/x64/Debug/CommandHandler.obj
MachineProject/MachineProject/x64/Debug/Console.obj
MachineProject/MachineProject/x64/Debug/MachineProject.exe.recipe
MachineProject/MachineProject/x64/Debug/MachineProject.ilk
MachineProject/MachineProject/x64/Debug/MachineProject.log
MachineProject/MachineProject/x64/Debug/MachineProject.tlog/CL.command.1.tlog
MachineProject/MachineProject/x64/Debug/MachineProject.tlog/Cl.items.tlog
MachineProject/MachineProject/x64/Debug/MachineProject.tlog/CL.read.1.tlog
MachineProject/MachineProject/x64/Debug/MachineProject.tlog/CL.write.1.tlog
MachineProject/MachineProject/x64/Debug/MachineProject.tlog/link.command.1.tlog
MachineProject/MachineProject/x64/Debug/MachineProject.tlog/link.read.1.tlog
MachineProject/x64/Debug/MachineProject.exe
MachineProject/x64/Debug/MachineProject.pdb
.vs/CSOPESY/FileContentIndex/863efc50-bca2-4ed9-a898-b93e6e46fb0d.vsidx
.vs/CSOPESY/FileContentIndex/992da3bd-d189-4908-a960-db52f432ac43.vsidx
.vs/CSOPESY/v17/.wsuo
.vs/CSOPESY/v17/Browse.VC.db
.vs/CSOPESY/v17/DocumentLayout.backup.json
.vs/CSOPESY/v17/DocumentLayout.json
.vs/slnx.sqlite
MachineProject/.vs/MachineProject/v17/.suo
MachineProject/.vs/MachineProject/v17/Browse.VC.db
MachineProject/.vs/MachineProject/v17/Browse.VC.db-shm
MachineProject/.vs/MachineProject/v17/DocumentLayout.backup.json
MachineProject/.vs/MachineProject/v17/DocumentLayout.json
MachineProject/MachineProject.vcxproj
MachineProject/MachineProject/x64/Debug/CommandHandler.obj
MachineProject/MachineProject/x64/Debug/Console.obj
MachineProject/MachineProject/x64/Debug/MachineProject.exe.recipe
MachineProject/MachineProject/x64/Debug/MachineProject.ilk
MachineProject/MachineProject/x64/Debug/MachineProject.log
MachineProject/MachineProject/x64/Debug/MachineProject.tlog/CL.command.1.tlog
MachineProject/MachineProject/x64/Debug/MachineProject.tlog/Cl.items.tlog
MachineProject/MachineProject/x64/Debug/MachineProject.tlog/CL.read.1.tlog
MachineProject/MachineProject/x64/Debug/MachineProject.tlog/CL.write.1.tlog
MachineProject/MachineProject/x64/Debug/MachineProject.tlog/link.command.1.tlog
